/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cuerpo del documento */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eef2f5;
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
    margin-bottom: 15px;
}

/* Contenedor principal */
main {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Lista de navegación */
nav ul {
  display: inline-block;
  padding: 0 20px;
  text-align: start;
}

nav li {
  margin: 12px 0;
}

nav a {
  text-decoration: none;
  color: #3498db;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: #21618c;
  border-bottom: 2px solid #21618c;
}
